* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  .container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #10131c;
  }
  
  .navigation {
	position: relative;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	cursor: pointer;
	transition: 0.1s;
	transition-delay: 0.8s;
  }
  
  .navigation.active {
	width: 200px;
	height: 200px;
	transition-delay: 0s;
  }
  
  .navigation span {
	position: absolute;
	width: 7px;
	height: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 5px;
	background: #fff;
	transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
	transition: 0.5s;
	transition-delay: calc(0.1s * var(--i));
  }
  
  .navigation.active span {
	width: 45px;
	height: 45px;
	background:	#fff ;
	transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
  }
  
  .navigation.active span:hover {
	background: #2dfc52;
  }
  
  .navigation span ion-icon {
	color: #fff;
	font-size: 0em;
	transition: 0.1s;
  }
  
  .navigation.active span ion-icon {
	color:  #000;
	font-size: 1.5em;
  }